.hero {
    &__swiper {
        background: black;
        min-height: 550px;
        border-width: 0px, 0px, 0px, 0px;
        box-shadow: 0px -188px 157.9px 0px #00000075 inset;
        border: 1px solid #097AFF;
        border-radius: 20px;
        position: relative;

        h1 {
            top: 50%;
            left: 50%;
            position: absolute;
            color: white;
            transform: translate(-50%, 50%);
        }
    }
}