.searchSection {
    padding: 73px 0 0;

    &__title {
        font-family: "Leky Calgria";
        font-weight: 400;
        font-size: 64px;
        line-height: 198%;
        letter-spacing: 0%;
        text-align: center;
        color: #000000;
    }

    &__items {
        padding: 50px 0 40px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    &__item {
        padding: 22px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17px;
        background: #007AFF;
        border-radius: 20px;
        cursor: pointer;

        span {
            font-weight: 700;
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0%;
            color: #FFFFFF;
        }

        &.active {
            background: #1E1E1E;
        }
    }

    &__card:hover {
        background: #00224A;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 11px 30px;
        background: #007AFF;
        color: #FFFFFF;
        border-radius: 95px;

        svg {
            color: #FFFFFF;
            font-size: 28px;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        flex: 1;

        button {
            font-weight: 600;
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0%;
            padding: 15px 24px;
            background: #FFFFFF;
            color: #007AFF;
            border: none;
            border-radius: 95px;
        }

        input {
            flex: 1;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0%;
            background: transparent;
            outline: none;
            border: none;
            color: #FFFFFF;

            &::placeholder {
                color: #FFFFFF;
                opacity: 1;
            }
        }

    }

}